@import "tailwindcss";
@import "@heroui/styles"; 
@import "../shared/styles/primitives.css";

@theme {
  /* Background colors */
  --color-content-50: var(--bg-content-50);
  --color-content-100: var(--bg-content-100);
  --color-content-200: var(--bg-content-200);
  --color-content-300: var(--bg-content-300);
  --color-content-400: var(--bg-content-400);
  --color-content-500: var(--bg-content-500);

  /* Text colors */
  --color-color-900: var(--color-900);
  --color-color-800: var(--color-800);
  --color-color-700: var(--color-700);
  --color-color-600: var(--color-600);
  --color-color-500: var(--color-500);
  --color-color-400: var(--color-400);
  --color-color-accent-100: var(--color-accent-100);
  --color-color-accent-200: var(--color-accent-200);
  --color-color-accent-300: var(--color-accent-300);
  --color-succes: var(--success);

  /* Lines */
  --color-line-50: var(--border-50);
  --color-line-100: var(--border-100);
}